h1 {
  margin-bottom: 10px;
  padding-left: 10px;
}
.container {
  display: flexbox;
}
.category-item {
  margin-bottom: 10px;
  padding-left: 10px;
}

.category-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.category-name {
  margin-left: 5px;
}

.subcategory-list {
  margin-left: 20px;
  border-left: 1px solid #e7af15;
  padding-left: 10px;
}
